#menu-i .mbr-brand__name {
  font-size: 16px;
}
#menu-i.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-i .mbr-navbar__hamburger {
  color: #ffffff;
}
#header4-g P {
  text-align: left;
}
#header4-g H1 {
  text-align: left;
  font-size: 32px;
}
#msg-box5-n .mbr-header__text {
  color: #ffffff;
}
#msg-box5-n .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-n .mbr-article {
  color: #ffffff;
}
#menu-k .mbr-brand__name {
  font-size: 16px;
}
#menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-k .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-k .mbr-brand__name {
  font-size: 16px;
}
#menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-k .mbr-navbar__hamburger {
  color: #ffffff;
}
